@use '../../styles/abstracts' as *;

// Định nghĩa kiểu cho từng item trong danh sách công việc
.todo-item {
  @include flex(row); // Sử dụng mixin flex để căn chỉnh theo hàng
  background-color: $bg-color; // Màu nền của item
  padding: $spacing-sm; // Khoảng cách bên trong
  border: $border-width solid $border-color; // Đường viền
  //border-radius: $border-radius; // Bo tròn góc
  transition: background-color $transition-duration ease; // Hiệu ứng chuyển màu nền
  width: 97%; // Chiếm toàn bộ chiều rộng

  // Kiểu cho item đã hoàn thành
  &.completed {
    text-decoration: line-through; // Gạch ngang tiêu đề
    color: $text-color; // Màu chữ
    opacity: 0.6; // Độ mờ
  }

  // Hiệu ứng hover
  &:hover {
    background-color: rgb(175, 175, 175); // Màu nền khi hover
  }

  // Kiểu cho checkbox
  .todo-checkbox {
    margin-right: $spacing-sm; // Khoảng cách bên phải
  }

  // Kiểu cho tiêu đề công việc
  .todo-title {
    flex: 1; // Chiếm toàn bộ chiều rộng còn lại
    font-size: $font-size-md; // Kích thước chữ
  }

  // Kiểu cho nút xóa
  .delete-button {
    background-color: transparent; // Nền trong suốt
    opacity: 0.8; // Độ mờ

    // Hiệu ứng hover cho nút xóa
    &:hover {
      opacity: 1; // Độ mờ khi hover
    }
  }
}