@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;



.app-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; // Căn giữa theo chiều dọc
  align-items: center; // Căn giữa theo chiều ngang
  

  .h1 {
    text-align: center;
    margin-bottom: $spacing-lg;
    color: $text-color;
  }
}